<h1>Reactive FORM</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <input type="email" formControlName="email">
  <div *ngIf="email?.touched && email?.invalid">
    <div *ngIf="email?.errors?.['required']">Email is required</div>
    <div *ngIf="email?.errors?.['email']">Invalid email format</div>
  </div>  
  <input type="text" formControlName="password">
  <div *ngIf="password?.touched && password?.invalid">
    <div *ngIf="password?.errors?.['required']">Password is required</div>
    <div *ngIf="password?.errors?.['maxlength']">Password cannot be longer than 8 characters</div>
  </div>
  <button type="submit">Submit</button>
</form>